"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    autoHideMenuBar: true
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    fontFamily: "Roboto Mono"
    fontSize: 13
  tabs:
    usePreviewTabs: true
  "atom-material-ui":
    ui:
      accentColor: "Blue"
      slimScrollbar: true
    fonts:
      useRoboto: true
      useRobotoInUI: true
    treeView: {}
    panels: {}
  minimap: {}
