"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "wrap-guide"
      "spell-check"
    ]
    autoHideMenuBar: true
    themes: [
      "atom-material-ui"
      "visibone-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    fontFamily: "Roboto Mono Medium"
    fontSize: 13
  tabs:
    usePreviewTabs: true
  "atom-material-ui":
    ui:
      slimScrollbar: true
      accentColor: "Blue"
    fonts:
      useRobotoInUI: true
    treeView: {}
    panels: {}
    tabs: {}
  minimap: {}
  "exception-reporting":
    userId: "64c25895-e9be-7c02-152a-b62ac7dec781"
  "base16-syntax":
    scheme: "Tomorrow"
  pigments:
    markerType: "underline"
  "spell-check": {}
